<%= form_with model: Comment, url: user_post_comments_path(@post.user, @post),class:'comment-form', method: :post do |form| %>
  <div class= "mb-3 col-md-6"><%= form.text_field :text, placeholder: 'Write your comment here...', class:"form-control" %></div>
  <div class = "mb-3"><%= form.submit "Add a comment", class:"btn btn-primary" %></div>
<% end %>
