<section >
  <%= render'shared/user', user: @user %>
    <% @posts.each do |post| %>
      <a href="/users/<%= @user.id %>/posts/<%= post.id %>">
        <ul>
          <%= render 'shared/post', post: post %>
        </ul>
      </a>
    <% end %>
  <button type='button'>Pagination</button>
</section>
